button {
    border-radius: 5px;
}

.add-to-basket {
    width: 40%;
    height: 35px;
    
    &:hover {
        background-color: $green;
    }
}

.reset-basket{
    height: 35px;
    margin-left: 10px;
    width: 10%;
    &:hover {
        background-color: $red;
    }
}

.export-data-button{
    margin: auto;
    display: block;
    width: 20%;
    height: 50px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
}