@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Merriweather|Josefin+Slab|Oswald|Bree+Serif);
@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre:500|Montserrat|Open+Sans:400,600');


$white:         #ffffff;
$offwhite:      #EEE8D6;
$darkblue:      #022933;
$yellow:        #FFBA00;
$blue:          #0076A3;
$green:         #548C27;
$orange:        #F39856;
$red:           #D14348;
$purple:        #6D73C2;
$black:         #222222;
$lighter-black: #444444;


$color-main: $darkblue;
$color-backgrounds: $offwhite;
$color-headlines: $red;
$color-even-cells: transparentize($yellow, .8);


$font-main: Merriweather, Helvetica, sans-serif;
$font-highlight: 'Bree Serif', Helvetica, sans-serif;
$font-detail: 'Montserrat', sans-serif;
$font-title: 'Abhaya Libre', serif;
$font-text: 'Open Sans', sans-serif;

$centered: center center;
